@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  	
  	box-sizing: border-box;
  	outline: none;
  	
}

body{
	background-color: #FCEEDE;
	padding-top: 20px;
	margin: 0px;
	width: 100%;
	height: 100vh;
}

.tilbage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	padding-top: 10px;
  }

.description-box{
	position: absolute;
  	top: 15%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	max-width: 350px;
  	width: 100%;
  	background: #A92D23;
  	padding: 25px;
	margin-top: 10px;
  	border-radius: 10px;
  	box-shadow: 4px 4px 2px #732222; 
	color: #F3EFEC;
}
.contact-form{
  	position: absolute;
  	top: 55%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	max-width: 350px;
  	width: 100%;
  	background: #A92D23;
  	padding: 25px;
  	border-radius: 10px;
  	box-shadow: 4px 4px 2px #732222; 
	
}

.contact-form h2{
  	text-align: center;
  	margin-bottom: 20px;
  	text-transform: uppercase;
  	letter-spacing: 3px;
  	color: #732222;
}

.contact-form .input_field{
  	margin-bottom: 10px;
  
}

.contact-form .input_field input[type="text"],
.contact-form textarea{
  	border: 1px solid #e0e0e0;
  	width: 100%;
  	padding: 10px;
	border-radius: 10px;
	
}

.contact-form textarea{
  	resize: none;
  	height: 80px;
	
}

.contact-form .btn input[type="submit"]{
  	border: 0px;
  	margin-top: 15px;
  	padding: 10px;
  	text-align: center;
  	width: 100%;
  	background: #D88439;
  	color: #732222;
  	text-transform: uppercase;
  	letter-spacing: 5px;
  	font-weight: bold;
  	border-radius: 25px;
  	cursor: pointer;
	
}
.footer {
	bottom: 0px;
	margin-bottom: 0px;
		width: 100%;
		height: 100px;
		background-color: #732222;
}

.footermenu{
		display:flex;
		list-style-type: none;
		height: 100%;
		align-items: center;
		margin: 0;
		padding: 0;
}
.footeritem1{
		display: block;
		position: absolute;
		left: 30%;
		height: 50px;
		margin-top: 15px;
}
.footeritem2{
	display: block;
	position: absolute;
	right: 30%;
	height: 50px;
	margin-top: 15px;
}
#fejl-besked{
  	margin-bottom: 20px;
  	background: #fe8b8e;
  	padding: 0px;
  	text-align: center;
  	font-size: 14px;
  	transition: all 0.5s ease;
	
}

#dropdown {
	border-radius: 10px;
	
}