/* 
Denne tilføjes hvis media for 600px og under aktiveres

@media only screen and (max-width: 1300px){ }*/

*{ box-sizing: border-box;}

body {

	background-color: #FCEEDE;
	padding-top: 20px;
	margin: 0px;
	width: 100%;
  }

  .dummystart {
	position: absolute;
	top: 50%;
	left: 25%;
	right: 25%;
	color: #Fceede;
	background-color: #732222;
	border-radius: 10px;
	border: 3px solid #732222;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	

  }

  .tilbage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	padding-top: 10px;
  }


  .logo{
	  display: block;
	  width: 90%;  
	  margin-left: auto;
	  margin-right: auto;
  
  }

  .logo-forsiden{
	  display: block;
	  width: 90%;  
	  margin-left: auto;
	  margin-right: auto;
  
  }

  
  h1{
	  font-family: 'khand regular', sans-serif;
	  font-size: 18px;
	  text-align: left;
	  padding-left: 10px;
	  padding-right: 10px;
  }
  h2{
	  font-family: 'khand', sans-serif;
	  font-size: 30px;
		padding-top: 15px;
		margin: 0px;
		text-align: center;
  }
  
  h3{
	  font-family: 'khand', sans-serif;
	  font-size: 40px;
	  margin-top: 0px;
	  margin-bottom: 0px;
  }
  
  h4{
	  font-family: 'khand', sans-serif;
	  font-size: 15px;
  }
  p{
	  font-family: 'roboto';
	  text-align: left;
	  padding-left: 10px;
	  padding-right: 10px;
  }

  .liste {
	  text-align: left;
  }

  button1 {
	  background-color: #A92D23;
	  border: none;
	  color: #F3EFEC;
	  cursor: pointer;
  }

  button2 {
	background-color: #D88439;
	border: none;
	color: #732222;
	cursor: pointer;
}

#EmneIndhold{
	display: none;
	color: #F3EFEC;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #A92D23;
	border: 5px solid  #D88439;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold2{
	display: none;
	color: #732222;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #D88439;
	border: 5px solid  #A92D23;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold3{
	display: none;
	
	color: #F3EFEC;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #A92D23;
	border: 5px solid  #D88439;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold4{
	display: none;
	color: #732222;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #D88439;
	border: 5px solid  #A92D23;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold5{
	display: none;
	
	color: #F3EFEC;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #A92D23;
	border: 5px solid  #D88439;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold6{
	display: none;
	color: #732222;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #D88439;
	border: 5px solid  #A92D23;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold7{
	display: none;
	
	color: #F3EFEC;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #A92D23;
	border: 5px solid  #D88439;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold8{
	display: none;
	color: #732222;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #D88439;
	border: 5px solid  #A92D23;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold9{
	display: none;
	
	color: #F3EFEC;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #A92D23;
	border: 5px solid  #D88439;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold10{
	display: none;
	color: #732222;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #D88439;
	border: 5px solid  #A92D23;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold11{
	display: none;
	
	color: #F3EFEC;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #A92D23;
	border: 5px solid  #D88439;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold12{
	display: none;
	color: #732222;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #D88439;
	border: 5px solid  #A92D23;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold13{
	display: none;
	
	color: #F3EFEC;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #A92D23;
	border: 5px solid  #D88439;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold14{
	display: none;
	color: #732222;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #D88439;
	border: 5px solid  #A92D23;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold15{
	display: none;
	
	color: #F3EFEC;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #A92D23;
	border: 5px solid  #D88439;
	border-top: none;
	border-radius: 20px;
}

#EmneIndhold16{
	display: none;
	color: #732222;
	font-family: 'roboto';
	border-radius: 10px;
	background-color: #D88439;
	border: 5px solid  #A92D23;
	border-top: none;
	border-radius: 20px;
}

  .oversigt {
		  
		  padding-bottom:50px;
		  width: 100%;
		  background-color: #FCEEDE;
		  align-items:center;
		  justify-content: center;
		  text-align: center;
  
  }
  
  .oversigt-boxes {
		  display: flex;
		  flex-direction: column;
		  justify-content: space-between, center;
		  padding-top:60px; 
		  text-align: center;
		  align-items: center;
		  width: 100%;
  }
  .oversigt-box{
		  height: 80px;
		  width: 90%;
		  background-color: #A92D23;
		  text-decoration: none;
		  border: 3px solid;
		  border-color: #D88439;
		  border-radius: 20px;
	  	  box-shadow: 6px 6px 4px #732222; 
  
  }
  .oversigt-box2{
		  height: 80px;
		  width: 90%;
		  padding-top: 0px;
		  background-color: #D88439;
		  text-decoration: none;
		  border: 3px solid #732222;
		  border-color: #A92D23;
		  border-radius: 20px;
	      box-shadow: 6px 6px 2px #732222; 
	  
  }
  .oversigt-box a{
		  text-decoration: none;
		  color: #F3EFEC;
	  
  }
  .oversigt-box2 a{
		  text-decoration: none;
		  color: #732222;
	  
  }
  
  .peer-content{
		  align-content: center;
		  
  }
  
  .peerlogo{
	display: block;
	margin-top: 70px;
	width: 90%;  
	margin-left: auto;
	margin-right: auto;
  }

  .peertopeer-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
  .peer-text{
		  color: #732222;
		  margin: 40px;
		
  }

  .aabentsind-content{
		  align-content: center;
  }

  .aabentsindlogo{
	display: block;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	padding: 20px;
	width: 80%;  
	
  }

  .aabentsind-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
  
  .aabentsind-text{
		  color: #732222;
		  margin: 40px;
	  
  }.paaroerendegruppen-content{
		  align-content: center;  
  }
  


  .paaroerendegruppen-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
  
  .paaroerendegruppen-text{
		  color: #732222;
		  margin: 40px;  
  }

.footer {
	margin-bottom: 0px;
		width: 100%;
		height: 100px;
		background-color: #732222;
}

.footermenu{
		list-style-type: none;
		height: 100%;
		margin: 0;
		padding: 0;
}
.footeritem1{
		display: block;
		position: absolute;
		left: 30%;
		height: 50px;
		margin-top: 25px;
}
.footeritem2{
	display: block;
	position: absolute;
	right: 30%;
	height: 50px;
	margin-top: 25px;
}

/* Denne kan tilføjes hvis vi vil have mindre text eller andet, til telefoner 


@media only screen and (max-width: 600px){

*{box-sizing: border-box;}

body {

  background-color: #FCEEDE;
  padding-top: 20px;
  margin-bottom: 50px;
  width: 100%;
}

.tilbage {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
  }

  .logo{
	display: block;
	margin-top: 70px;
	width: 90%;  
	margin-left: auto;
	margin-right: auto;
  }


h1{
	font-family: 'khand', sans-serif;
}
h2{
	font-family: 'khand', sans-serif;
	  font-size: 30px;
		padding-top: 25px;
		margin: 0px;
		text-align: center;
}
h3{
	font-family: 'roboto', sans-serif;
	  font-size: 60px;
	  margin-top: 50px;
	  margin-bottom: 0px;
}h4{
	font-family: 'roboto', sans-serif;
}
p{
	font-family: "Roboto";
}
.oversigt {
		padding-top:100px;
		padding-bottom:50px;
		width: 100%;
		height: 100vh;
		background-color: #FCEEDE;
		align-items:center;
		justify-content: center;
		text-align: center;

}

.oversigt-boxes {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top:122px; 
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.oversigt-box{
	height: 100px;
	width: 90%;
  
	background-color: #A92D23;
	text-decoration: none;
	border: 5px solid;
	border-color: #D88439;
	border-radius: 20px;

}
.oversigt-box2{
	height: 100px;
	width: 90%;
  
	padding-top: 0px;
	background-color: #D88439;
	text-decoration: none;
	border: 5px solid #732222;
	border-color: #A92D23;
	border-radius: 20px;

}
.oversigt-box a{
		text-decoration: none;
		color: #F3EFEC;
	
}
.oversigt-box2 a{
		text-decoration: none;
		color: #732222;
	
}

.peer-content{
		align-content: center;
		
}

.peer-content img{

}

.peer-text{
		color: #732222;
}
.aabentsind-content{
		align-content: center;
		
}

.aabentsind-content img{

}

.aabentsind-text{
		color: #732222;
	
}
.paaroerendegruppen-content{
		align-content: center;
		
}

.paaroerendegruppen-content img{

}

.paaroerendegruppen-text{
		color: #732222;
	
}
}
*/
