@charset "utf-8";
/* CSS Document */
body {
  background-color: #FCEEDE;
  padding-top: 20px;
  margin-bottom: 50px;
  width: 80%;
}

h1{
	font-family: 'khand', sans-serif;
}
h2{
	font-family: 'khand', sans-serif;
	font-size: 25px;
}
h3{
	font-family: 'roboto', sans-serif;
}h4{
	font-family: 'roboto', sans-serif;
}
p{
	font-family: "Roboto";
}
.oversigt {
		padding-top:100px;
		padding-bottom:50px;
		width: 100%;
		height: 100vh;
		background-color: #FCEEDE;
		align-items:center;
		justify-content: center;
		text-align: center;

}

.oversigt-boxes{
		display: flex;
		justify-content: space-between;
		margin-right: 100px;
		padding-top:122px; 
		text-align: center;
}
.oversigt-box{
		height: 100px;
		width: 650px;
		margin: 0 15px;
		background-color: #A92D23;
		text-decoration: none;
		border: 5px solid;
		border-color: #D88439;
		border-radius: 20px;

}
.oversigt-box2{
		height: 100px;
		width: 650px;
		margin: 0 15px;
		padding-top: 0px;
		background-color: #D88439;
		text-decoration: none;
		border: 5px solid #732222;
		border-color: #A92D23;
		border-radius: 20px;
	
}
.oversigt-box a{
		text-decoration: none;
		color: #F3EFEC;
	
}
.oversigt-box2 a{
		text-decoration: none;
		color: #732222;
	
}

.peer-content{
		align-content: center;
		
}

.peer-content img{

}

.peer-text{
		color: #732222;
}
.aabentsind-content{
		align-content: center;
		
}

.aabentsind-content img{

}

.aabentsind-text{
		color: #732222;
	
}.paaroerendegruppen-content{
		align-content: center;
		
}

.paaroerendegruppen-content img{

}

.paaroerendegruppen-text{
		color: #732222;
	
}


