@charset "utf-8";
/* CSS Document */
body {
  background-color: #FCEEDE;
  padding-top: 20px;
  margin-bottom: 50px;
  width: 80%;
}

h1{
	font-family: 'khand', sans-serif;
}
h2{
	font-family: 'khand', sans-serif;
}
h3{
	font-family: 'khand', sans-serif;
}h4{
	font-family: 'roboto', sans-serif;
}
p{
	font-family: 'Roboto', sans-serif;
}
xmp{
	font-family: 'Roboto', sans-serif;
}


hr{
	color:red;
}
a{
	font-size: 20px;
}
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.column2 {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px;
}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #A92D23;
  font-family: "khand";
  position: fixed;
  height: 50%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: #FFFFFF;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #f4c276;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #732222;
  color: white;
}
.sidebar img{
	width: 200px;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
	
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  object-fit: scale-down;
	
}

.flex-container > div {
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  font-family: "Khand";
  color: #732222;
  object-fit: scale-down;
	
}
.flex-container img{
	height: 200px;
	
}
.flex-container div{
	font-size: 25px;
	
}

.oversigt-boxes{
		display: flex;
		justify-content: space-between;
		margin-right: 100px;
		padding-top:122px; 
		text-align: center;
	
}
.oversigt-box{
		height: 100px;
		width: 650px;
		margin: 0 15px;
		background-color: #A92D23;
		text-decoration: none;
		border: 5px solid #A92D23;
		border-color: #D88439;
		border-radius: 20px;
		text-align: center;

}
.oversigt-box2{
		height: 100px;
		width: 650px;
		margin: 0 15px;
		padding-top: 0px;
		background-color: #D88439;
		text-decoration: none;
		border: 5px solid #732222;
		border-color: #A92D23;
		border-radius: 20px;
		text-align: center;
	
}
.oversigt-box a{
		text-decoration: none;
		color: #F3EFEC;
	
}
.oversigt-box2 a{
		text-decoration: none;
		color: #732222;
	
}
